<!-- templates/renter/dashboard.html -->
{% extends "base.html" %}

{% block content %}
  <h2>Renter Dashboard</h2>
  <p>Welcome, {{ renter.name }}!</p>
  <ul>
    <li><a href="{% url 'lease_list' %}">View Leases</a></li>
    <li><a href="{% url 'add_apartment' renter.id %}">Add Apartment</a></li>
    <li><a href="{% url 'view_rent_due_alerts' renter.id %}">View Rent Due Alerts</a></li>
    <li><a href="{% url 'post_announcement' renter.id %}">Post Announcement</a></li>
  </ul>
{% endblock %}
