{% extends "base.html" %}

{% block title %} {% if property %} Edit {% else %} Add {% endif %} Property {% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-primary mb-4">{% if property %} Edit {% else %} Add {% endif %} Property</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-kpop btn-block">Save</button>
        </form>
        <a href="{% url 'property_list' %}" class="btn btn-outline-light mt-3">Back to Property List</a>
    </div>
{% endblock %}